/* Archivo: style.css */
@font-face {
     font-family: 'Inter';
     src: url('../fonts/inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
     font-weight: 100 900;
     font-style: normal;
}

body {
     font-family: 'Inter', sans-serif;
     font-weight: 400;
     text-wrap: pretty;
     /* text-wrap: pretty mejora la estética al evitar palabras huérfanas en la última línea */
}

p {
     font-size: 14px;
     font-weight: 400;
     line-height: 16.94px;
     color: #000000;

}

.p-24 {
     padding-left: 24px;
     padding-right: 24px;
}

.card-total {
     height: 151px;
}

.primary-text-01 {
     font-size: 18px;
     font-weight: 700;
     line-height: 21.78px;
     color: #00AE9E;
}

.primary-text-02 {
     font-size: 18px;
     font-weight: 700;
     line-height: 21.78px;
     color: #E40571;
}

.primary-text-03 {
     font-size: 18px;
     font-weight: 700;
     line-height: 21.78px;
     color: #F58025;
}

.h2-of {
     font-size: 18px;
     font-weight: 700;
     line-height: 21.78px;
     color: #F58025;
}

.test-container {
     padding: 0;
}

.section-pd {
     padding-top: 40px;
     padding-bottom: 40px;
}

.section-gradient-bk {
     background: linear-gradient(149.12deg, rgba(217, 217, 217, 0.5) 33.16%, rgba(245, 128, 37, 0.1) 87.42%);
}


.ty-title-1 {
     color: #000;
     text-align: center;
     font-size: 18px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;

}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
     color: #ffffff;
     background-color: #e67620;
 }

.space-p {
     margin-bottom: 36px;
}

.card-custom {
     border-radius: 15px;
     border: 2px solid #e0e0e0;
     padding: 10px;
     transition: transform 0.3s ease;
}

.card-img-top {
     object-fit: contain;
}

.section-benefits .benefit-item-custom {
     margin-bottom: 30px;
}

.section-benefits .benefit-icon-box {
     background-color: #72328C;
     border-radius: 8px;
     padding: 15px;
     display: flex;
     align-items: center;
     justify-content: center;
     width: 32px;
     height: 32px;
     margin-right: 15px;
}

.section-benefits .benefit-icon {
     width: 22px;
     height: 16px;
}

.section-benefits .benefit-title-custom {
     font-size: 18px;
     font-weight: bold;
}

.section-benefits .benefit-text-box p {
     margin: 0;
}

.h2-benefits-text {
     font-size: 18px;
     font-weight: 700;
     line-height: 21.78px;
     text-align: center;
}


.ul-benefits-center {
     display: grid;
     align-items: center;
     justify-content: center;
}

.benefits-list-custom {
     font-size: 14px;
     font-weight: 400;
     line-height: 16.94px;
     text-align: left;

}

.benefits-list-custom li {
     list-style-type: disc;
     margin-left: 20px;
}

.custom-card-12 {
     border-radius: 8px;
     border: none;
     background-color: #fff;
     padding: 20px;
     box-shadow: 0px 0px 12px 0px #00000026;
}

.custom-card-title {
     font-size: 18px;
     color: #F58025;
     font-weight: bold;
}

.custom-card-list li {
     font-size: 18px;
     font-weight: 500;
     color: #333;
     display: flex;
     align-items: center;
     margin-bottom: 15px;
}

.custom-card-list li strong {
     color: #F58025;
     font-size: 30px;
     font-weight: 900;
     margin-right: 10px;
     min-width: 30px;
     text-align: right;
}

.custom-card-list li:last-child {
     margin-bottom: 0;
}

.list-unstyled {
     padding-left: 0;
     list-style: none;
     text-align: left;
     display: grid;
     justify-content: center;
}

ol,
ul {
     padding-left: 1rem;
}


.custom-card-register {
     background-color: #fff6f0;
     border-radius: 8px;
     margin-left: 12px;
     margin-right: 12px;
}

.custom-register-title {
     font-size: 22px;
     font-weight: bold;
     color: #333;
}

.btn-orange {
     background-color: #F58025;
     color: #fff;
     border: none;
     border-radius: 50px;
     padding: 10px 30px;
     font-size: 14px;
     font-weight: 700;
     line-height: 16.94px;
     text-align: center;
     width: 200px;
}

.btn-orange:hover {
     background-color: #F58025;
     font-size: 14px;
     font-weight: 700;
     line-height: 16.94px;
     text-align: center;
     color: #fff;

}

.custom-register-text {
     font-size: 14px;
     color: #333;
     margin-top: 10px;
}

.bg-dark-gray {
     background-color: #5E6A71;
}

.custom-footer {
     color: #fff;
}

.custom-footer-title {
     font-weight: bold;
     color: #fff;
     margin-bottom: 15px;
}

.custom-footer-link {
     color: #fff;
     text-decoration: none;
     display: block;
     margin-bottom: 8px;
     text-align: center;
     text-decoration: underline;
}

.custom-footer-link:hover {
     color: #cfcfcf;
     text-decoration: underline;
}

.social-icon {
     margin: 8px;
     width: 40px;
}

.social-media-section {
     padding-left: 24px;
     padding-right: 24px;
}


.custom-search-btn {
     background-color: #f58220;
     color: #fff;
     border: none;
     padding: 10px 20px;
     font-size: 16px;
     border-radius: 5px;
     cursor: pointer;
     transition: background-color 0.3s ease;
}

.custom-search-btn:hover {
     background-color: #f58220;
}

.section-btn-search {
     display: grid;
     justify-content: center;
     padding: 40px;
}

a {
     color: rgb(255 255 255);
     text-decoration: underline;
}

.center-elements {
     display: flex;
     justify-content: center;
     align-items: center;
}

.projects-section {
     margin-top: 30px;
}

.projects-title {
     font-size: 18px;
     font-weight: bold;
     margin-bottom: 20px;
}

.projects-list {
     list-style: none;
     padding-left: 0;
}

.project-item {
     display: flex;
     align-items: center;
}

.project-icon {
     width: 40px;
}

.project-text {
     font-size: 14px;
     margin-left: 12px;
}

.recruitment-process-section {
     margin-top: 30px;
}

.process-title {
     font-size: 20px;
     font-weight: bold;
     color: #f58220;
     /* Color naranja para el título */
     margin-bottom: 10px;
}

.process-subtitle {
     font-size: 16px;
     margin-bottom: 20px;
     color: #555;
}

.process-steps {
     list-style: none;
     padding-left: 0;
}

.step-item {
     display: flex;
     align-items: center;
     margin-bottom: 15px;
}

.step-number {
     display: inline-flex;
     align-items: center;
     justify-content: center;
     width: 30px !important;
     height: 30px !important;
     border: 2px solid #72328C;
     border-radius: 8px;
     font-size: 16px;
     color: #72328C;
     padding: 12px;
     font-weight: bold;
     margin-right: 10px;
}

.step-description {
     font-size: 18px;
     font-weight: 700;
     line-height: 21.78px;
     text-align: left;

}

.masonry-container {
    column-count: 2; /* Dos columnas para mobile */
    column-gap: 20px; /* Espacio entre columnas */
}

.masonry-item {
    break-inside: avoid; /* Evita que los elementos se corten en las columnas */
    margin-bottom: 20px;
}

.tip-card {
    border: 2px solid;
    border-radius: 8px;
    padding: 10px;
    background-color: #fff;
}

.tip-card p {
     font-size: 14px;
     font-weight: 700;
     line-height: 16.94px;


}

.tip-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Colores de bordes */
.tip-card-puntual {
    border-color: #F58025;
}

.tip-card-puntual h6 {
     color: #F58025;
 }

.tip-card-cuida {
     border-color: #5E6A71;
}

.tip-card-cuida h6 {
     color: #5E6A71;
}

.tip-card-apoyate {
     border-color: #006A8E;
}

.tip-card-apoyate h6 {
     color: #006A8E;
}

.tip-card-respeta {
     border-color: #E40571;
}

.tip-card-respeta h6 {
     color: #E40571;
}

.tip-card-aprovecha {
     border-color: #5E6A71;
}

.tip-card-aprovecha h6 {
     color: #5E6A71;
}

.tip-card-prepara {
     border-color: #00AE9E;
}

.tip-card-prepara h6 {
     color: #00AE9E;
}

.tip-card-vigila {
     border-color: #72328C;
}

.tip-card-vigila h6 {
     color: #72328C;
}

.number-list-section {
    margin-top: 30px;
}

.custom-numbered-list {
    list-style: none;
    padding-left: 0;
}

.custom-list-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.number-point {
    font-size: 24px;
    font-weight: bold;
    color: #f58220;
    margin-right: 10px;
    margin-left: 4px;
}

.list-content-details {
     margin-top: 6px;
 }

.list-content-details h6 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}

.list-content-details ul {
    padding-left: 20px;
    list-style: disc;
}

.list-content-details ul li {
     margin-bottom: 5px;
     font-size: 18px;
     margin-bottom: 16px;
     font-weight: 400;
     line-height: 21.78px;
     text-align: left;

}
.h2-home {
     font-size: 18px;
     font-weight: 500;
     line-height: 21.78px;
     text-align: center;
}